<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.hanhuy.android.c2dm.generic"
  android:versionCode="4"
  android:versionName="1.0">
<application android:icon="@drawable/ic_recontrolr_app" android:label="@string/app_name">

<receiver android:permission="com.google.android.c2dm.permission.SEND"
  android:name="com.google.android.c2dm.C2DMBroadcastReceiver">
  <intent-filter>
    <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
    <category android:name="com.hanhuy.android.c2dm.generic"/>
  </intent-filter>
  <intent-filter>
    <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
    <category android:name="com.hanhuy.android.c2dm.generic"/>
  </intent-filter>
</receiver>

<activity android:launchMode="singleInstance" android:name=".SetupActivity">
  <intent-filter>
    <action android:name="android.intent.action.MAIN"/>
  </intent-filter>
</activity>
<!-- define an alias to enable going stealth mode, hiding the launcher icon -->
<activity-alias android:name=".SetupActivityAlias"
    android:targetActivity=".SetupActivity">
  <intent-filter>
    <action android:name="android.intent.action.MAIN"/>
    <category android:name="android.intent.category.LAUNCHER"/>
  </intent-filter>
</activity-alias>

<!-- internal services are not exported and do not need permissions -->
<service android:name=".C2DMReceiver"/>
<service android:name=".GeolocateService"/>
<service android:name=".JavascriptService"/>
<service android:name=".DownloadService"/>
</application>

<uses-sdk android:minSdkVersion="8"/>
<!-- core permissions and features for recontrolr -->
<uses-permission android:name="android.permission.INTERNET"/>
<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
<uses-permission android:name="android.permission.WAKE_LOCK"/>
<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
<uses-permission android:name="android.permission.USE_CREDENTIALS"/>

<permission android:protectionLevel="signature"
  android:name="com.hanhuy.android.c2dm.generic.permission.C2D_MESSAGE"/>
<uses-permission
  android:name="com.hanhuy.android.c2dm.generic.permission.C2D_MESSAGE"/>

<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
<uses-permission android:name="android.permission.READ_PHONE_STATE"/>

<uses-feature android:name="android.hardware.touchscreen"
  android:required="false"/>
<uses-feature android:name="android.hardware.location"
  android:required="false"/>
<uses-feature android:name="android.hardware.location.network"
  android:required="false"/>
<uses-feature android:name="android.hardware.location.gps"
  android:required="false"/>

<!-- uses-features required by permissions -->
<uses-feature android:name="android.hardware.bluetooth"
  android:required="false"/>
<uses-feature android:name="android.hardware.camera"
  android:required="false"/>
<uses-feature android:name="android.hardware.camera.autofocus"
  android:required="false"/>
<uses-feature android:name="android.hardware.microphone"
  android:required="false"/>
<uses-feature android:name="android.hardware.telephony"
  android:required="false"/>
<uses-feature android:name="android.hardware.wifi"
  android:required="false"/>

<!-- permissions for 3rd party scripts -->
<!-- things that can cost money -->
<uses-permission android:name="android.permission.SEND_SMS"/>
<uses-permission android:name="android.permission.CALL_PHONE"/>

<!-- accessing messages -->
<uses-permission android:name="android.permission.RECEIVE_SMS"/>
<uses-permission android:name="android.permission.RECEIVE_MMS"/>
<uses-permission android:name="android.permission.READ_SMS"/>
<uses-permission android:name="android.permission.WRITE_SMS"/>
<uses-permission android:name="android.permission.RECEIVE_WAP_PUSH"/>

<!-- accessing personal info -->
<uses-permission android:name="android.permission.READ_CONTACTS"/>
<uses-permission android:name="android.permission.WRITE_CONTACTS"/>
<uses-permission android:name="android.permission.READ_CALENDAR"/>
<uses-permission android:name="android.permission.WRITE_CALENDAR"/>
<uses-permission android:name="android.permission.READ_USER_DICTIONARY"/>
<uses-permission android:name="android.permission.WRITE_USER_DICTIONARY"/>
<uses-permission
    android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/>
<uses-permission
    android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS"/>
<uses-permission android:name="android.permission.SET_ALARM"/>

<!-- accessing location info -->
<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

<!-- accessing networks -->
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
<uses-permission android:name="android.permission.BLUETOOTH"/>
<uses-permission android:name="android.permission.NFC"/>
<uses-permission android:name="android.permission.USE_SIP"/>

<!-- accessing accounts -->
<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
<uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>

<!-- accessing hardware -->
<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
<uses-permission android:name="android.permission.RECORD_AUDIO"/>
<uses-permission android:name="android.permission.CAMERA"/>
<uses-permission android:name="android.permission.VIBRATE"/>
<uses-permission android:name="android.permission.FLASHLIGHT"/>

<!-- telephony access -->
<uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>

<!-- low level system interaction -->
<uses-permission android:name="android.permission.WRITE_SETTINGS"/>
<uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
<uses-permission android:name="android.permission.GET_TASKS"/>
<uses-permission android:name="android.permission.REORDER_TASKS"/>
<uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
<uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
<uses-permission android:name="android.permission.SET_ANIMATION_SCALE"/>
<uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
<uses-permission android:name="android.permission.BROADCAST_STICKY"/>
<uses-permission android:name="android.permission.SET_WALLPAPER"/>
<uses-permission android:name="android.permission.SET_WALLPAPER_HINTS"/>
<uses-permission android:name="android.permission.SET_TIME_ZONE"/>
<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
<uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS"/>
<uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
<uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
<uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
<uses-permission android:name="android.permission.READ_SYNC_STATS"/>
<uses-permission android:name="android.permission.WRITE_APN_SETTINGS"/>
<uses-permission android:name="android.permission.SUBSCRIBED_FEEDS_READ"/>
<uses-permission android:name="android.permission.SUBSCRIBED_FEEDS_WRITE"/>
<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
<uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>
<uses-permission android:name="android.permission.READ_LOGS"/>

<!-- special development tools -->
<uses-permission android:name="android.permission.SET_DEBUG_APP"/>
<uses-permission android:name="android.permission.SET_PROCESS_LIMIT"/>
<uses-permission android:name="android.permission.SET_ALWAYS_FINISH"/>
<uses-permission android:name="android.permission.SIGNAL_PERSISTENT_PROCESSES"/>

<uses-permission android:name="android.permission.BATTERY_STATS"/>

</manifest> 
